# Banco (dev/test)
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5434
DB_NAME=bank_crud_dev
DB_NAME_TEST=bank_crud_test
DB_POOL_SIZE=30

# Phoenix
PORT=4000
PHX_HOST=localhost
DB_SSL=false

# Produção (runtime.exs)
DATABASE_URL=ecto://USER:PASS@HOST:5432/DATABASE
SECRET_KEY_BASE=GENERATE_WITH_MIX_PHX_GEN_SECRET
GUARDIAN_SECRET_KEY=GENERATE_WITH_MIX_PHX_GEN_SECRET
